.toolbar-spacing {
  flex: 1 1 auto;
}

button {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.router-outlet {
  position: absolute;
  padding-top: 64px;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #eee;
}